<div class="container__big-card">
    <div class="big-card__picture">
        <img
        src="https://yt3.googleusercontent.com/ugAmG9LeliJJoiyacIecdiq_ZgRNdmjCIohaN5x3QEOmWB9dNUsKuCU8ngLs3JUauHZ4-boVkA=s900-c-k-c0x00ffffff-no-rj"
        alt=""
        height="400px"
        srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu notícia nova!</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis sunt doloribus vero animi quasi molestias temporibus nam eveniet repudiandae consequatur labore, et aspernatur voluptatum numquam quod possimus repellendus harum magnam!
        </a></p>
    </div>
</div>