<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__picture">
            <img
            src="{{ photoCoverSmall}}"
            alt=""
            height="400px"
            srcset="">
        </div>
        <div class="small-card__info">
            <div class="small-card__title">
                <h1><a href="#">{{ SmallCardTitle }}</a></h1>
            </div>
            <!-- <div class="small-card__description">
                <p><a href="#">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis sunt doloribus vero animi quasi molestias temporibus nam eveniet repudiandae consequatur labore, et aspernatur voluptatum numquam quod possimus repellendus harum magnam!
                </a></p>
            </div> -->
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr/>
    </div>
</div>
