<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__picture">
            <img
            src="https://parade.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTk3MzM3ODU4NTU2NTY4Nzc1/marveldisney.jpg"
            alt=""
            height="400px"
            srcset="">
        </div>
        <div class="small-card__info">
            <div class="small-card__title">
                <h1><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt suscipit, provident veritatis expedita et ipsa, laboriosam fuga, maxime sint neque autem doloribus consectetur dignissimos? Aperiam, fugit est? Quaerat, amet doloribus!</a></h1>
            </div>
            <!-- <div class="small-card__description">
                <p><a href="#">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis sunt doloribus vero animi quasi molestias temporibus nam eveniet repudiandae consequatur labore, et aspernatur voluptatum numquam quod possimus repellendus harum magnam!
                </a></p>
            </div> -->
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr/>
    </div>
</div>
