
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            Id="1"
            photoCover="https://www.ofuxico.com.br/img/upload/noticias/2018/11/27/brie-2_335754_36.jpg" cardTitle="A Capitã Marvel estreia um novo filme."
            cardDescription="Foi confirmado, através dos veículos oficiais da Marvel que um novo filme da Capitã Marvel será lançado em breve. A protagonista do filme irá enfrentar novos desafios e contara com ajuda de outros herois."
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
            photoCoverSmall="https://sm.ign.com/ign_br/screenshot/default/tony_c455.jpg"
            SmallCardTitle="Tony Stark volta a vida!"
        >
        </app-small-card>
        <app-small-card
            Id="3"
            photoCoverSmall="https://t.ctcdn.com.br/EBMq05AUHBFLgVcSW40FU8ZQBPY=/354x3095:5816x6170/640x360/smart/i526811.jpeg"
            SmallCardTitle="o Homem Aranha capturou o homem mosca."
        >
        </app-small-card>
        
    </div>
</div>
